*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.titolo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
    color:rgb(0, 89, 255) ;
    font-size: 30px;
    padding-left: 2%;
}

.filtra{
    background-color:rgb(0, 89, 255) ;
    color: white;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
.tipo{
    font-size:22px ;
}
.button{
    padding: 1px 7px;
    background-color: white;
    color:black;
}

main{
    width:100vw;
    background-color: lightgrey;
    
}
.rettangolo{
    background-color: white;
    height: 130px;
    width:15%;
    display:inline-block;
    margin-left:4%;
    margin-top: 2%;
    text-align: center;
    
}
.contenitore{
    margin-top: 20%;
}
#icone{
    font-size: 35px;